<!-- Passport Facebook Strategy -->
FACEBOOK_callbackURL=http://localhost:3000/auth/facebook/callback
FACEBOOK_clientID=SKIP
FACEBOOK_clientSecret=SKIP

<!-- Connect to MongoDB -->
MONGODB_URI=mongodb://localhost/todo-list

<!-- Sever port -->
PORT=3000

<!-- Express-session setting -->
SESSION_SECRET=SecretString
