<div class="container add-new-form">
  <div class="row">
    <div class="col-12  mx-auto">

      <h3>Add New Restaurant</h3>
      <hr>
      <form method="POST" action="/restaurants">

        <div class="row g-2 mb-4">
          <label for="name" class="col-md-3 col-form-label add-label">
            Name
          </label>
          <div class="col-md-9">
            <input type="text" name="name" placeholder="Restaurant name" class="form-control" id="name" required>
          </div>
        </div>

        <div class="row g-2 mb-4">
          <label for="name_en" class="col-md-3 col-form-label add-label">
            English Name
          </label>
          <div class="col-md-9">
            <input type="text" name="name_en" placeholder="Enter English restaurant name if exists..."
              class="form-control" id="name_en">
          </div>
        </div>

        <div class="row g-2 mb-4">
          <label for="category" class="col-md-3 col-form-label add-label">
            Category
          </label>
          <div class="col-md-9">
            <input type="text" name="category" placeholder="ex. coffee" class="form-control" id="category" required>
          </div>
        </div>

        <div class="row g-2 mb-4">
          <label for="image" class="col-md-3 col-form-label add-label">
            Image URL
          </label>
          <div class="col-md-9">
            <input type="text" name="image" placeholder="image url..." class="form-control" id="image" required>
          </div>
        </div>

        <div class="row g-2 mb-4">
          <label for="location" class="col-md-3 col-form-label add-label">
            Location
          </label>
          <div class="col-md-9">
            <input type="text" name="location" placeholder="Restaurant address" class="form-control" id="location"
              required>
          </div>
        </div>

        <div class="row g-2 mb-4">
          <label for="phone" class="col-md-3 col-form-label add-label">
            Phone
          </label>
          <div class="col-md-9">
            <input type="text" name="phone" placeholder="01-2345-6789" class="form-control" id="phone" required>
          </div>
        </div>

        <div class="row g-2 mb-4">
          <label for="google_map" class="col-md-3 col-form-label add-label">
            Google Map
          </label>
          <div class="col-md-9">
            <input type="text" name="google_map" placeholder="https://goo.gl/maps/XXXXXXXX" class="form-control"
              id="google_map" required>
          </div>
        </div>

        <div class="row g-2 mb-4">
          <label for="rating" class="col-md-3 col-form-label add-label">
            Rating
          </label>
          <div class="col-md-9">
            <input type="number" name="rating" step="0.1" min="0" max="5" placeholder="Points from 0 ~ 5"
              class="form-control" id="rating" required>
          </div>
        </div>

        <div class="row g-2 mb-4">
          <label for="description" class="col-md-3 col-form-label add-label">
            Description
          </label>
          <div class="col-md-9">
            <textarea name="description" placeholder="Some description of restaurant..." id="description" rows="5"
              class="form-control" required></textarea>
          </div>
        </div>
        <div class="btn-form-submit">
          <button class="btn btn-major" type="submit">Save</button>
        </div>


      </form>

    </div>
  </div>
</div>